body {
  background-color: rgb(147, 147, 114);
}

h1 {
  color: rgb(14, 105, 52);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

table {
  border: 3px double rgb(11, 202, 21);
  border-collapse: collapse;

}